# Node.js
node_modules/
npm-debug.log*

# Environment variables
.env
.env.local

# Databases
*.sqlite
*.sqlite-journal

# OS files
.DS_Store
Thumbs.db

# Frontend specific
lala-frontend/node_modules/
